* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.logo img{
    height: 100px;
    width: 100px;
}
.navbar nav a{
    color: #ff4a4a;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}
.navbar nav a.active, .navbar nav a:hover{
    color: #000;

}
.login-btn{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.main{
    background-image: url('./images/img1.jpg');
    background-position: center;
    text-align: center;
    position: relative;
    padding: 100px 20px;
    background-size: cover;
    opacity: 0.8;
}
.main-content h1{
    font-size:48px;
    color: #191515;
    margin-bottom: 20px;

}
.main-content p{
       font-size: 18px;
       margin-bottom: 20px;
}








.footer{
    background: black;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}