* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.logo img{
    height: 100px;
    width: 100px;
}
.navbar nav a{
    color: #ff4a4a;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}
.navbar nav a.active, .navbar nav a:hover{
    color: #000;

}
.login-btn{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.main{
    background-image: url('./images/img1.jpg');
    background-position: center;
    text-align: center;
    position: relative;
    padding: 100px 20px;
    background-size: cover;
    opacity: 0.8;
}
.main-content h1{
    font-size:48px;
    color: #191515;
    margin-bottom: 20px;

}
.main-content p{
       font-size: 18px;
       margin-bottom: 20px;
}








.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}